.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formulario,p{
    position: relative;
    top: 30px;
}
.botonRegistro{
    background-color: #5b5b5b;
    width: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
button{
    all:initial;
    color: white;
    cursor: pointer;
}
input{
    text-align: center;
}